@import 'default';
@import 'utilities';
@import 'datatables';
@import 'swiper';

// variables and functions needed for bootstrap-overrides
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap-overrides';

@import 'bootstrap/scss/bootstrap';

@import 'dashboard';
@import 'shop';
@import 'datepicker';

@import '@fortawesome/fontawesome-free/css/all.min.css';

@import 'print';
