/* common */

html, body {
  height: 100%;
}

/* login forms */

.login-container {
  max-width: 500px;
}

/* dashboard view */

$breadcrumb-divider: quote(">");

/* sidebar fixed */
$offcanvas-horizontal-width: 300px;
.sidebar {
  width: var(--bs-offcanvas-width); // same width for mobile and desktop sidebar
  z-index: 100; // sidebar shadow should be above top bar in desktop view

  &.show {
    z-index: var(--bs-offcanvas-zindex); // reset zindex to bootstrap value when sidebar is visible in mobile view
  }
}

.topbar {
  z-index: 50; // otherwise form inputs are above shadow
}

.dashboard-content {
  max-width: 1200px;
}

/* navitem styling */
.side-nav {
  a {
    color: var(--bs-body-color);
    text-decoration: none;
  }

  li {
    + li, ul, &.border-top {
      border-top: var(--bs-border-width) solid var(--bs-border-color);
    }

    a:hover, a.active {
      background: #f2f2f2;
    }

    a.active {
      font-weight: 500;
    }

    a i {
      width: 25px;
      text-align: center;
    }
  }
}

/* enlarge toggle button to make easier to touch on mobile */
.sidebar-toggler {
  font-size: 1.5rem;
  line-height: 0;
}

.brand-small {
  background-image: url('../../public/img/asta_logo.png');
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

/* make sure that text wrapping in breadcrumbs remains indented and does not wrap to separator level */
.breadcrumb-item {
  & + & {
    padding-left: calc(var(--bs-breadcrumb-item-padding-x) + 1rem) !important;
  }

  & + &::before {
    margin-left: -1rem;
    padding-right: 0 !important;
  }
}

// constrain height for item image slider
.dashboard-swiper-container {
  height: min(500px, 80vh);
  max-height: fit-content;
}
