/* login forms */

.login-container {
  max-width: 500px;
}

/* dashboard view */

.sidebar {
  width: var(--bs-offcanvas-width); // same width for mobile and desktop sidebar
  z-index: 100; // sidebar shadow should be above top bar in desktop view

  &.show, &.showing {
    z-index: var(--bs-offcanvas-zindex); // reset zindex to bootstrap value when sidebar is visible in mobile view
  }
}

.topbar {
  z-index: 50; // otherwise form inputs are above shadow
}

.dashboard-content {
  max-width: 1200px;
}

/* navitem styling */
.side-nav {
  a {
    color: var(--bs-body-color);
    text-decoration: none;
  }

  li {
    + li, ul, &.border-top {
      border-top: var(--bs-border-width) solid var(--bs-border-color);
    }

    a:hover, a.active {
      background: #f2f2f2;
    }

    a.active {
      font-weight: 500;
    }

    a i {
      width: 25px;
      text-align: center;
    }
  }
}

/* improvements for dark mode */
@include color-mode(dark) {
  .side-nav li a:hover,
  .side-nav li a.active {
    background: #525b66;
  }
}

/* enlarge toggle button to make easier to touch on mobile */
.sidebar-toggler {
  font-size: 1.5rem;
  line-height: 0;
}

/* make sure that text wrapping in breadcrumbs remains indented and does not wrap to separator level */
.dashboard {
  .breadcrumb-item {
    & + & {
      padding-left: calc(var(--bs-breadcrumb-item-padding-x) + 1rem) !important;
    }

    & + &::before {
      margin-left: -1rem;
      padding-right: 0 !important;
    }
  }
}

.swiper-thumbs .image-delete {
  display: none !important;
}

// as we're reducing gutter between buttons we also have to offset them more from the sides to prevent them from spilling over
.filter-button-container {
  --bs-gutter-x: 2.5rem;

  // filter button styles
  .btn-primary-subtle {
    --bs-btn-bg: color-mix(in srgb, var(--bs-primary-bg-subtle) 40%, transparent);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-primary-border-subtle);
    --bs-btn-hover-color: var(--bs-body-color);
  }

  .btn-warning-subtle {
    --bs-btn-bg: color-mix(in srgb, var(--bs-warning-bg-subtle) 60%, transparent);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-warning-border-subtle);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-active-bg: color-mix(in srgb, var(--bs-warning) 80%, orange);
    --bs-btn-active-border-color: color-mix(in srgb, var(--bs-warning) 60%, black);
  }

  .btn-purple-subtle {
    --bs-btn-bg: color-mix(in srgb, var(--bs-purple-bg-subtle) 40%, transparent);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-purple-border-subtle);
    --bs-btn-hover-color: var(--bs-body-color);
  }

  .btn-info-subtle {
    --bs-btn-bg: color-mix(in srgb, var(--bs-info-bg-subtle) 40%, transparent);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-info-border-subtle);
    --bs-btn-hover-color: var(--bs-body-color);
  }

  .btn-secondary-subtle {
    --bs-btn-bg: color-mix(in srgb, var(--bs-secondary-bg-subtle) 40%, transparent);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-secondary-border-subtle);
    --bs-btn-hover-color: var(--bs-body-color);
  }

  .btn-success-subtle {
    --bs-btn-bg: color-mix(in srgb, var(--bs-success-bg-subtle) 40%, transparent);
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-hover-bg: var(--bs-success-border-subtle);
    --bs-btn-hover-color: var(--bs-body-color);
  }


  .btn-check:checked + .btn .btn {
    font-weight: 600; // semibold

    // we have to reapply styles from parent as we're nesting buttons
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);

  }

  .btn-check + .btn {
    &:after {
      content: "\a0" // nbsp
    }
  }
}

.was-expanded .no-animation-when-expanded {
  animation: none;
}

.preview-container {
  min-height: 2rem;
}

.group-image-small {
  max-height: 15rem;
  max-width: 15rem;
}
