.fancy-datatable {
  // make hover rows darker
  &.table-hover tr:hover,
  &.table-hover tr.parent:hover + tr.child {
    background-color: rgba(0, 0, 0, 0.075) !important;
  }

  > tbody {
    > tr {
      // make odd parent rows and their children darker
      &:nth-child(odd of :not(.child)) td, &.parent:nth-child(odd of :not(.child)) + tr.child td.child {
        background-color: rgba(0, 0, 0, .05) !important;
      }

      &:not(.child) {
        > td {
          cursor: pointer; // clickable cursor when table expandable (only on parent rows)
        }

        .detail-only {
          display: none;
        }
      }
    }
  }

  tr {
    vertical-align: middle;

    .expand {
      display: inline-block;
    }

    .restore {
      display: none;
    }

    &.parent .expand {
      display: none;
    }

    &.parent .restore {
      display: inline-block;
    }
  }

  td {
    &.control i { // makes sure control icons are the same width when opened and closed, otherwise table jerks when toggling state
      width: 15px;
      text-align: center;
    }

    .fa-xmark { // fix alignment with text and size compared with check icon
      font-size: 1.1em;
      position: relative;
      top: 1px;
    }

    &.child {
      .detail-hide {
        display: none;
      }
    }
  }

  .control:before {
    display: none !important; // hide default controls
  }

  .control[style*="display: none"],
  .control[style*="display: none"] ~ td {
    cursor: inherit; // default cursor when table not expandable
  }

  .slider {
    display: none; // makes sure detail slider animates (otherwise slider is already visible when toggling)
  }
}
