.fancy-datatable {
  // make hover rows darker
  &.table-hover tr:hover,
  &.table-hover tr.parent:hover + tr.child {
    background-color: rgba(0, 0, 0, 0.075) !important;
  }

  > tbody {
    > tr {
      // make odd parent rows and their children darker
      &:nth-child(odd of :not(.child)) td, &.parent:nth-child(odd of :not(.child)) + tr.child td.child {
        background-color: rgba(0, 0, 0, .05) !important;
      }

      &:not(.child) {
        &:not(.child-empty) > td {
          cursor: pointer; // clickable cursor when table expandable (only on parent rows)
        }

        .detail-only {
          display: none;
        }
      }

      // hide controls when there is not child row to expand
      &.child-empty > td.control {
        cursor: inherit !important;

        * {
          display: none;
        }
      }
    }
  }

  tr {
    vertical-align: middle;

    .expand {
      display: inline-block;
    }

    .restore {
      display: none;
    }

    &.parent .expand {
      display: none;
    }

    &.parent .restore {
      display: inline-block;
    }
  }

  td {
    &.control i { // makes sure control icons are the same width when opened and closed, otherwise table jerks when toggling state
      width: 15px;
      text-align: center;
    }

    .fa-xmark { // fix alignment with text and size compared with check icon
      font-size: 1.1em;
      position: relative;
      top: 1px;
    }

    &.child {
      .detail-hide {
        display: none;
      }
    }
  }

  .control:before {
    display: none !important; // hide default controls
  }

  .control[style*="display: none"],
  .control[style*="display: none"] ~ td {
    cursor: inherit; // default cursor when table not expandable
  }

  .slider {
    display: none; // makes sure detail slider animates (otherwise slider is already visible when toggling)
  }

  // dates should not be right-aligned
  td.dt-type-date, th.dt-type-date {
    text-align: left !important;
  }
}

// add some more space at the top of fixed header (variable is also used in JS for offset calculation)
:root {
  --fixed-table-header-offset: 15px;
}

.dtfh-floatingparent-head {
  margin-top: calc(-1 * var(--fixed-table-header-offset));

  &::before {
    background-color: var(--bs-body-bg);
    height: var(--fixed-table-header-offset);
    content: '';
    display: block;
  }
}
