// custom style for broken images (will only be rendered if image could not be displayed)
img::before {
  content: "\274C\a" "Bild konnte nicht geladen werden.";
  text-align: center;
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-color);
  white-space: pre-line;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

img[alt]::before {
  content: "\274C\a" attr(alt) " konnte nicht geladen werden.";
}

.img-small {
  img {
    font-size: 0.7rem; // smaller font size for error message shown with broken images
    &::before {
      // decrease padding for error message shown with broken images
      padding: 0.5rem;
    }
  }
}

.error-page {
  .headtext {
    max-width: 20rem;
  }

  .subtext {
    max-width: 45rem;
  }
}

.brand-small {
  background-image: url('../../public/img/asta_logo.png');
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

// constrain height for item image slider
.item-image-container {
  height: min(500px, 80vh);
  max-height: fit-content;
}

.fa-xmark { // fix alignment with text and size compared with check icon
  font-size: 1.1em;
  position: relative;
  top: 1px;
}

// constrast ratio is too low with light background
.text-warning {
  filter: brightness(0.9);
}

#livewire-error iframe {
  background-color: var(--bs-light) !important;
}
