// custom style for broken images (will only be rendered if image could not be displayed)
img::before {
  content: "\274C\a" "Bild konnte nicht geladen werden.";
  text-align: center;
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-color);
  white-space: pre-line;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

img[alt]::before {
  content: "\274C\a" attr(alt) " konnte nicht geladen werden.";
}

.error-page {
  .headtext {
    max-width: 20rem;
  }

  .subtext {
    max-width: 45rem;
  }
}
