:root {
  --swiper-theme-color: var(--bs-primary) !important;
  --swiper-navigation-color: var(--bs-body-color);
}

.swiper-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .swiper {
    width: 100%;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      user-select: none;
      -webkit-user-select: none;
    }

    .swiper-slide {
      display: none; // show images only after swiper was initialized to prevent flashing
    }

    &.swiper-initialized .swiper-slide {
      display: block;
    }
  }

  .swiper-thumbs {
    // show thumbs only when there are at least 2 slides
    &:not(:has(.swiper-slide + .swiper-slide)) {
      display: none;
    }

    // take 20% of container height
    flex: 0 0 20%;

    // make inactive images lighter
    .swiper-slide {
      opacity: 0.6;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }

    img {
      cursor: pointer;
      font-size: 0.7rem; // smaller font size for error message shown with broken images
    }

    // decrease padding for error message shown with broken images
    img::before {
      padding: 0.5rem;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    outline: none;

    // white border around navigation button arrows
    &:after {
      text-shadow: -1px 0px var(--bs-body-bg), 1px 0px var(--bs-body-bg), 0px 1px var(--bs-body-bg), 0px -1px var(--bs-body-bg);
    }
  }
}
