.form-control:not(:is(select, input[type=file], .readonly-default)):read-only { // same as :disabled style. read-only is used by livewire during form requests. select fields and file input fields are always readonly
  background-color: var(--bs-secondary-bg);
  opacity: 1;
}

.min-w-0 {
  min-width: 0 !important;
}

.min-h-0 {
  min-height: 0 !important;
}

.max-w-0 {
  max-width: 0 !important;
}

.max-w-sm {
  max-width: var(--bs-breakpoint-sm);
}

.min-h-100 {
  min-height: 100% !important;
}

.w-0 {
  width: 0 !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-italic {
  font-style: italic;
}

span.link {
  @extend a;
  cursor: pointer;
}

.autogrow-textarea { // based on https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
  display: grid; // to position the elements on top of each other and have them both sized based on the tallest one's height

  // constrain height and make container scroll when max height reached
  max-height: 50vh;
  overflow: auto;

  // expand container as otherwise input focus border (shadow) will be hidden
  margin: -0.25rem;
  padding: 0.25rem;

  // pseudo-element must match textareas in behavior and sizing
  &::after {
    content: attr(data-replicated-value) " "; // space prevents jumpy behaviour
    white-space: pre-wrap; // match textarea behaviour
    visibility: hidden; // hide dummy element

    @extend .form-control; // extend styling from bootstrap (relevant for border and padding)
  }

  > textarea {
    resize: none; // disallow manually resizing textarea as shrinking won't work with dummy element
    overflow: hidden; // after horizontal resizing scrollbar sometimes appears
  }

  > textarea,
  &::after {
    grid-area: 1 / 1 / 2 / 2; // place on top of each other
    overflow-wrap: anywhere; // prevent long words from breaking layout
  }
}

.gutter-even {
  padding: calc(var(--bs-gutter-x) * 0.5);
}

.aspect-1 {
  aspect-ratio: 1;
}

.background-blur {
  backdrop-filter: blur(5px);
}

.text-shadow-body {
  text-shadow: var(--bs-body-bg) 0 0 1.5px;
}

.pointer-events-auto {
  pointer-events: auto !important;
}

// prevent buttons that were disabled by 'disabled' class from having pointer cursor (only happens when pointer-events are overridden)
button, [type=button], [type=reset], [type=submit] {
  &.disabled.pointer-events-auto {
    cursor: default !important;
  }
}
