.form-control:read-only { // same as :disabled style. read-only is used by livewire during form requests
  background-color: var(--bs-secondary-bg);
  opacity: 1;
}

.min-w-0 {
  min-width: 0 !important;
}

.max-w-0 {
  max-width: 0 !important;
}

.w-0 {
  width: 0 !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
